General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.5

Course Requirements:
ECON 25100 - Microeconomics(MAI Course)
MGMT 20000 - Introductory Accounting(MAI Course)

COM 11400 - Fundamentals Of Speech Communicationor  (MAI Course)
COM 21700 - Science Writing And Presentationor  (MAI Course)
EDPS 31500 - Collaborative Leadership: Interpersonal Skillsor  (MAI Course)
SCLA 10200 - Transformative Texts, Critical Thinking And Communication II: Modern World(MAI Course)

ENGL 10600 - First-Year Compositionor  (MAI Course)
ENGL 10800 - Accelerated First-Year Compositionor  (MAI Course)
HONR 19903 - Interdisciplinary Approaches In Writingor  (MAI Course)
SCLA 10100 - Transformative Texts, Critical Thinking And Communication I: Antiquity To Modernity(MAI Course)

MA 16010 - Applied Calculus Ior  (MAI Course)
MA 16100 - Plane Analytic Geometry And Calculus Ior  (MAI Course)
MA 16500 - Analytic Geometry And Calculus I(MAI Course)


Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions
Students must be in good academic standing (not on academic probation)
Minimum of a C- in any completed MAI course(s) & School of Management Course(s) (MGMT, ECON, OBHR). The MAI must consist of at least (2) Krannert graded courses (MGMT 20000 & ECON 25100) or (3) Purdue graded MAI courses.
Course Re-take allowance of MAI courses depends on the number of courses taken at Purdue and/or Krannert, no more than 2 or 3 MAI courses (or their equivalents) may be taken two times each for a grade. See our retake policy located on theKrannert School of Management Advising Policies websiteto determine your eligibility.
