General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.0

Course Requirements:
n/a

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Accept students in any academic standing (including on academic probation)
A minimum GPA of 2.50 is highly recommended for Agricultural Education (AGED) as 2.50 serves as a pre-requisite GPA to take teacher education courses.
