General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.75

Course Requirements:
CHM 11500 - General Chemistry

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Major is open with no anticipated space restrictions.
Accept students in any academic standing (including on academic probation).
If completed prior to CODO, students must have earned grades of C- or higher in core courses, which areCHM 11600,CHM 25500,CHM 25600,BIOL 23100, BCHM 36200/46200/46300 or BCHM 56100/56200/46300.
Students interested in CODOing to Biochemistry are strongly encouraged to meet with a Biochemistry advisor before submitting their request.
