General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.0

Course Requirements:
BIOL 11000 - Fundamentals Of Biology Ior
BIOL 12100 - Biology I: Diversity, Ecology, And Behavioror
BIOL 13100 - Biology II: Development, Structure, And Function Of Organisms
Note: BIOL 12100 and 13100 meet degree requirements.

MA 16010 - Applied Calculus Ior
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review.  Space is limited.
Students must be in good academic standing (not on academic probation).
