General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.5

Course Requirements:
C or better in the following:One required Calculus course from the Degree Requirements. See courses listed under program of interest in theCollege of Science Administrationprograms section of the 2021-2022 University Catalog.One Science course in area of concentration to meet degree requirements. Concentration Degree Requirements are listed under program of interest in theCollege of Science Administrationprograms section of the 2021-2022 University Catalog.
One required Calculus course from the Degree Requirements. See courses listed under program of interest in theCollege of Science Administrationprograms section of the 2021-2022 University Catalog.
One Science course in area of concentration to meet degree requirements. Concentration Degree Requirements are listed under program of interest in theCollege of Science Administrationprograms section of the 2021-2022 University Catalog.

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
2.0 average GPA in any completed BIOL, CHM, CS, EAPS, MA, PHYS or STAT course that meets degree requirements. See courses listed under program of interest in theCollege of Science AdministrationPrograms section of the current 2021-2022 University Catalog or current students can use the “What if” function in MyPurduePlan.
