General Requirements:
Minimum Semesters:  2
Minimum Credits:  30
Minimum GPA:  3.5

Course Requirements:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
Oral Communication Foundational Outcome course
Written Communication Foundational Outcome course

CHM 11600 - General Chemistryor
CS 15900 - C Programming

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

One of the following groups:
ENGR 13100 - Transforming Ideas To Innovation Iand
ENGR 13200 - Transforming Ideas To Innovation II

ENGR 16100 - Honors Introduction To Innovation And The Physical Science Of Engineering Design Iand
ENGR 16200 - Honors Introduction To Innovation And The Physical Science Of Engineering Design II

ENGR 13300 - Transforming Ideas To Innovation, EPICSand
EPCS 11100 - First Year Participation In EPICS Iand
EPCS 12100 - First Year Participation In EPICS II

Other Requirements:
Students are accepted for FALL.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is extremely limited.
Students must be in good academic standing (not on academic probation).
