General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  3.3

Course Requirements:
CHM 11500 - General Chemistry
CHM 11600 - General Chemistry
PHYS 17200 - Modern Mechanics
Written Communication or Oral Communication Foundational Outcome course

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY.  Space is limited.
Students must be in good academic standing (not on academic probation).
Of the 12 required credits taken at Purdue, 6 credits must be completed from the following technical and math courses: BCHM, BIOL, CHM, CS, EAPS, PHYS, STAT and MA
