General Requirements:
Minimum Semesters:  1
Minimum Credits:  24
Minimum GPA:  2.5

Course Requirements:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation).

Students need to have completed a minimum of 24 credit hours from the following list:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
ENGR 13100 - Transforming Ideas To Innovation I
ENGR 13200 - Transforming Ideas To Innovation II

CHM 11600 - General Chemistry(preferred) or
CS 15900 - C Programming

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

Oral Communication Foundational Outcome course
Written Communication Foundational Outcome course
Civil Engineering General Education Electives
