General Requirements:
Minimum Semesters:  2
Minimum Credits:  15
Minimum GPA:  2.5

Course Requirements:
CHM 11500 - General Chemistry

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

PHYS 17200 - Modern Mechanicsor
ENGR 13100 - Transforming Ideas To Innovation I

One of the following:
COM 11400 - Fundamentals Of Speech Communicationor other Oral Communication Foundational Outcome course.
OR
ENGL 10600 - First-Year Compositionor other Written Communication Foundational Outcome course.
OR
One FYE Selective:
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II
CHM 11600 - General Chemistry
CS 15900 - C Programming

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Major is open with no anticipated space restrictions.
Accept students in any academic standing (including on academic probation).
