General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.0

Course Requirements:
C- or better in the following:BIOL 12100orBIOL 13100orBIOL 11000(note: BIOL 12100 and 13100 meet degree requirements)MA 16010orMA 16100orMA 16500
BIOL 12100orBIOL 13100orBIOL 11000(note: BIOL 12100 and 13100 meet degree requirements)
MA 16010orMA 16100orMA 16500

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review.  Space is limited.
Students must be in good academic standing (not on academic probation).
