General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.5

Course Requirements:
ECON 25100 - Microeconomics(EAI Course)
ECON 25200 - Macroeconomics(EAI Course)

COM 11400 - Fundamentals Of Speech Communicationor  (EAI Course)
COM 21700 - Science Writing And Presentationor  (EAI Course)
EDPS 31500 - Collaborative Leadership: Interpersonal Skillsor  (EAI Course)
SCLA 10200 - Transformative Texts, Critical Thinking And Communication II: Modern World(EAI Course)

ENGL 10600 - First-Year Compositionor  (EAI Course)
ENGL 10800 - Accelerated First-Year Compositionor  (EAI Course)
HONR 19903 - Interdisciplinary Approaches In Writingor  (EAI Course)
SCLA 10100 - Transformative Texts, Critical Thinking And Communication I: Antiquity To Modernity(EAI Course)

MA 16010 - Applied Calculus Ior  (EAI Course)
MA 16100 - Plane Analytic Geometry And Calculus Ior  (EAI Course)
MA 16500 - Analytic Geometry And Calculus I(EAI Course)

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions
Students must be in good academic standing (not on academic probation)
Minimum of a C- in any completed ECON courses that are not a part of the EAI. The EAI must consist of at least (2) Krannert graded courses (for EconomicsECON 25100&nbsp;&ECON 25200) or (3) Purdue graded EAI courses.
Course Re-take allowance of EAI courses depends on the number of courses taken at Purdue and/or Krannert, no more than 2 or 3 EAI courses (or their equivalents) may be taken two times each for a grade. See our retake policy located on theKrannert School of Management Advising Policies websiteto determine your eligibility.
