General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.5

Course Requirements:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
Oral Communication Foundational Outcome course (typicallyCOM 11400 - Fundamentals Of Speech Communication)
Written Communication Foundational Outcome course (typicallyENGL 10600 - First-Year Composition)
Transforming Ideas to Innovation I & II (typicallyENGR 13100andENGR 13200), if taken.

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

One FYE Science Selective:
CHM 11600 - General Chemistry(strongly recommended)
CS 15900 - C Programming
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II
BIOL 13100 - Biology II: Development, Structure, And Function Of Organisms
BIOL 12100 - Biology I: Diversity, Ecology, And BehaviorandBIOL 13500 - First Year Biology Laboratory

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY.  Space is limited.
Students must be in good academic standing (not on academic probation).
Calculated GPA of engineering courses (20000 level and above) must be minimum 2.0, if taken.  Applicable subject areas are: AAE, ABE, BME, CHE, CE, CEM, ECE, EEE, ENGR, IE, IDE, ME, MSE, NUCL.
Note that CHM 11600 is a degree requirement in Environmental and Ecological Engineering and completing this beforehand is recommended.
