General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.5

Course Requirements:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
Oral Communication Foundational Outcome course
Written Communication Foundational Outcome course
Transforming Ideas to Innovation I & II (typicallyENGR 13100andENGR 13200), if taken.

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

One FYE Science Selective:
CHM 11600 - General Chemistry(strongly recommended)
CS 15900 - C Programming
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review.  Space is limited.
Students must be in good academic standing (not on academic probation).
Of the 12 required credits taken at Purdue, 6 credits must be completed from the following technical and math courses: [MA 16200 or MA 16600], CHM 11500, PHYS 17200, or required engineering course at the 20000 level or above with a 2. 5 GPA or better.
Calculated GPA of engineering courses (20000 level and above) must be minimum 2.0, if taken.  Applicable subject areas are: AAE, ABE, BME, CHE, CE, CEM, ECE, EEE, ENGR, IE, IDE, ME, MSE, NUCL.
Note that CHM 11600 is a degree requirement in Environmental and Ecological Engineering and completing this beforehand is recommended.
