General Requirements:
Minimum Semesters: 1
Minimum Credits: 12
Minimum GPA:2.0

Course Requirements:
2.0 GPA or better AND C or better in the following:MA 16100 - Plane Analytic Geometry And Calculus IorMA 16500 - Analytic Geometry And Calculus Ior higherOne EAPS, PHYS or CHEM course that meets degree requirements. See courses listed under program of interest in theDepartment of Earth, Atmospheric, and Planetary SciencesPrograms section of the 2020-2021 University Catalog or current students can use the “What if” function in MyPurduePlan.
MA 16100 - Plane Analytic Geometry And Calculus IorMA 16500 - Analytic Geometry And Calculus Ior higher
One EAPS, PHYS or CHEM course that meets degree requirements. See courses listed under program of interest in theDepartment of Earth, Atmospheric, and Planetary SciencesPrograms section of the 2020-2021 University Catalog or current students can use the “What if” function in MyPurduePlan.

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation).
If taken, 2.0 GPA or better AND C or better in any EAPS, PHYS or CHEM course, that meets degree requirements. See courses listed under program of interest in theDepartment of Earth, Atmospheric, and Planetary SciencesPrograms section of the 2020-2021 University Catalog or current students can use the “What if” function in MyPurduePlan.
