General Requirements:
Minimum Semesters:0
Minimum Credits:0
Minimum GPA:0

Course Requirements:
Students must have fewer than 83 credit hours of the following:All graded courses credit (see GPA Credit hours in MyPurdue unofficial transcript)Credit by examTransfer creditPass/No Pass creditCurrent semester coursesDoes NOT include:Course Withdrawals (W, WF)Previous attempts of a repeated course (excluded courses on transcript)
All graded courses credit (see GPA Credit hours in MyPurdue unofficial transcript)
Credit by exam
Transfer credit
Pass/No Pass credit
Current semester courses
Does NOT include:Course Withdrawals (W, WF)Previous attempts of a repeated course (excluded courses on transcript)
Course Withdrawals (W, WF)
Previous attempts of a repeated course (excluded courses on transcript)

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions
Accept students in any academic standing (including on academic probation)
Students must enroll in EDPS 10500
