General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.7

Course Requirements:
To be eligible-a student must complete 3 courses (9 credits minimum), one from each category completed at PWL campus.
2.7 GPA or better AND C- or better in the following.

Other Requirements:
Students are accepted for FALL and SPRING.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after holistic review.  Space is limited.
Students must be in good academic standing (not on academic probation).
Answer First-Year Engineering CODO short-answer questions found on theFirst-Year Engineering Program CODO website.
To learn more about holistic review, please visit theFirst-Year Engineering Program CODO website.
