General Requirements:
Minimum Semesters:  1
Minimum Credits:  12
Minimum GPA:  2.0

Course Requirements:
n/a

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY.  Space is limited.
Accept students in any academic standing (including on academic probation).
Note: Strong performance in 10000 and 20000-level mathematics and science courses is necessary to be successful in the Food Science major as a 2.5 mathematics/science GPA is required to enroll in 30000-level Food Science courses.
