General Requirements:
Minimum Semesters:1
Minimum Credits:6
Minimum GPA:3.0

Course Requirements:
CGT 11600 - Geometric Modeling For Visualization And Communication
CGT 14100 - Internet Foundations Technologies And Development

Other Requirements:
Students are accepted for SPRING
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is extremely limited.
Students must be in good academic standing (not on academic probation)
Review Procedure:Students are reviewed for admission into Game Development & Design on a holistic basis with considerations for the space availability of the major. Interested students should complete a CODO request by the 2nd Friday of the fall semester. Faculty will review requests and host interviews with students in September which will contribute to the holistic review of the student. Decisions for admission will be announced by October 1st to students. Accepted students in Game Development & Design will begin the program course sequence in the following spring semester.
Students are reviewed for admission into Game Development & Design on a holistic basis with considerations for the space availability of the major. Interested students should complete a CODO request by the 2nd Friday of the fall semester. Faculty will review requests and host interviews with students in September which will contribute to the holistic review of the student. Decisions for admission will be announced by October 1st to students. Accepted students in Game Development & Design will begin the program course sequence in the following spring semester.
