General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.75

Course Requirements:
ENGL 10600 - First-Year Compositionor
ENGL 10800 - Accelerated First-Year Composition

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
Have a “B” average with no grade lower than a “C-” in completed education courses
Note: All Teacher Education majors must meet additional Licensure requirement gates at points in their program. Please consultTeacher Education Programand talk with an Education advisor for more information.
