General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.5

Course Requirements:
ECON 25100 - Microeconomics
MGMT 20000 - Introductory Accounting

COM 11400 - Fundamentals Of Speech Communicationor
COM 21700 - Science Writing And Presentationor
EDPS 31500 - Collaborative Leadership: Interpersonal Skillsor
SCLA 10200 - Transformative Texts, Critical Thinking And Communication II: Modern World

ENGL 10600 - First-Year Compositionor
ENGL 10800 - Accelerated First-Year Compositionor
HONR 19903 - Interdisciplinary Approaches In Writingor
SCLA 10100 - Transformative Texts, Critical Thinking And Communication I: Antiquity To Modernity

MA 16010 - Applied Calculus Ior
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I


Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions
Students must be in good academic standing (not on academic probation)
Per the School of Management, no more than 3 different MAI courses, or their equivalents, may be taken 2 times for a grade
Krannert requires that you take at least 3 MAI/EAI courses at Purdue, or a minimum of 2 Krannert courses (MAI Krannert Courses include: MGMT 20000 & ECON 25100; EAI Krannert Courses include: ECON 25100 & ECON 25200)
