General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:3.0

Course Requirements:
C or better in the following:Two required science or math (CHM, BIOL, PHYS, or MA) courses on the plan of study for each major. See courses listed under program of interest in theSchool of Health SciencesPrograms section in the 2020-2021 University Catalog.
Two required science or math (CHM, BIOL, PHYS, or MA) courses on the plan of study for each major. See courses listed under program of interest in theSchool of Health SciencesPrograms section in the 2020-2021 University Catalog.

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions
Students must be in good academic standing (not on academic probation)
