General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.5

Course Requirements:
n/a

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
Students can also be accepted with a 2.3 cumulative GPA plus a 2.8 GPA inHDFS 20100andHDFS 21000.
