General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:3.2

Course Requirements:
B or better in the following:MA 16100/16500 or MA 16200/16600 or MA 26100CHM 11500 or PHYS 17200MGMT 20000
MA 16100/16500 or MA 16200/16600 or MA 26100
CHM 11500 or PHYS 17200
MGMT 20000

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is extremely limited.
Students must be in good academic standing (not on academic probation)
New Beginner Students who started at Purdue West Lafayette in Fall 2021 and later will only be considered.
Math, Chemistry/Physics, and Management courses considered for CODO must be taken for a letter grade on a Purdue campus.
For CODO purposes, only the first or second attempt of a required Math, Chemistry/Physics, and Management course will be considered. Course withdrawals are included in this requirement (W/WF).
Applications must be submitted by 5:00 p.m. Eastern the Thursday of finals week. Applications will be reviewed after semester grades are posted.
