General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.0

Course Requirements:
A 2.7 or better GPA in at least two graded courses in an approved Calculus sequence I, II and III (transfer credit made be used):

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
2.5 GPA average in any major courses taken that meet the major block in degree requirements:MA 16100orMA 16500or (MA 16010andMA 16020)MA 16200orMA 16600MA 26100orMA 27101CS 17700orCS 15900orCS 18000STAT 31100 - Introductory ProbabilitySTAT 35000 - Introduction To StatisticsMA 35100 - Elementary Linear Algebra(MA 26500with B- or better can be used in place of MA 35100 if taken before adding a math major.)MA 36600 - Ordinary Differential Equations(MA 26600with B- or better can be used in place of MA 36600 if taken before adding a math major)MA 37500 - Introduction To Discrete MathematicsMA 46000 - GeometryMA 48400 - Seminar On Teaching College Algebra And TrigonometryMA 30100 - An Introduction To Proof Through Real AnalysisorMA 34100 - Foundations Of AnalysisMA 45000 - Algebra HonorsorMA 45300 - Elements Of Algebra I
MA 16100orMA 16500or (MA 16010andMA 16020)
MA 16200orMA 16600
MA 26100orMA 27101
CS 17700orCS 15900orCS 18000
STAT 31100 - Introductory Probability
STAT 35000 - Introduction To Statistics
MA 35100 - Elementary Linear Algebra(MA 26500with B- or better can be used in place of MA 35100 if taken before adding a math major.)
MA 36600 - Ordinary Differential Equations(MA 26600with B- or better can be used in place of MA 36600 if taken before adding a math major)
MA 37500 - Introduction To Discrete Mathematics
MA 46000 - Geometry
MA 48400 - Seminar On Teaching College Algebra And Trigonometry
MA 30100 - An Introduction To Proof Through Real AnalysisorMA 34100 - Foundations Of Analysis
MA 45000 - Algebra HonorsorMA 45300 - Elements Of Algebra I
