General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.0

Course Requirements:
Calculus I
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus Ior
MA 16010 - Applied Calculus IandMA 16020 - Applied Calculus II

Calculus II
MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

Calculus III
MA 26100 - Multivariate Calculusor
MA 27101 - Honors Multivariate Calculus

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
2.0 average GPA in any courses completed below (If completed prior to CODO):MA 35100 - Elementary Linear AlgebraorMA 26500 - Linear Algebraif B- or betterMA 36600 - Ordinary Differential EquationsorMA 26600 - Ordinary Differential Equationsif B- or betterMA 35301 - Linear Algebra IIMA 34100 - Foundations Of AnalysisorMA 44000 - Honors Real Analysis IMA 37300 - Financial MathematicsSTAT 35000 - Introduction To StatisticsMA 41600 - ProbabilityorSTAT 41600 - ProbabilitySTAT 41700 - Statistical TheorySTAT 51200 - Applied Regression AnalysisAny course in the required minor.  For list of courses, see degree requirements minor section in the 2020-2021 University Catalog.Economics MinorBusiness Economics MinorManagement Minor
MA 35100 - Elementary Linear AlgebraorMA 26500 - Linear Algebraif B- or better
MA 36600 - Ordinary Differential EquationsorMA 26600 - Ordinary Differential Equationsif B- or better
MA 35301 - Linear Algebra II
MA 34100 - Foundations Of AnalysisorMA 44000 - Honors Real Analysis I
MA 37300 - Financial Mathematics
STAT 35000 - Introduction To Statistics
MA 41600 - ProbabilityorSTAT 41600 - Probability
STAT 41700 - Statistical Theory
STAT 51200 - Applied Regression Analysis
Any course in the required minor.  For list of courses, see degree requirements minor section in the 2020-2021 University Catalog.Economics MinorBusiness Economics MinorManagement Minor
Economics Minor
Business Economics Minor
Management Minor
