General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.75

Course Requirements:
B or better in the following:

CS 18000 - Problem Solving And Object-Oriented Programming

A calculus course approved to meet degree requirements, including:
MA 16100 - Plane Analytic Geometry And Calculus I
MA 16200 - Plane Analytic Geometry And Calculus II
MA 16500 - Analytic Geometry And Calculus I
MA 16600 - Analytic Geometry And Calculus II
MA 26100 - Multivariate Calculus
MA 27101 - Honors Multivariate Calculus
MA 26500 - Linear Algebra- may be considered with B- or better
MA 35100 - Elementary Linear Algebra- may be considered.

Other Requirements:
Students are accepted for FALL, and SPRING
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is extremely limited.
Students must be in good academic standing (not on academic probation)
All courses considered for CODO must be taken for a letter grade on a Purdue campus.
