General Requirements:
Minimum Semesters:2
Minimum Credits:12
Minimum GPA:2.0

Course Requirements:
A 2.7 or better GPA in at least two graded courses in an approved Calculus sequence I, II and III (transfer credit made be used):

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
2.0 average GPA in any courses completed below (not required to take these courses before CODO):MA 35100 - Elementary Linear AlgebraorMA 26500 - Linear Algebraif B- or betterMA 36600 - Ordinary Differential EquationsorMA 26600 - Ordinary Differential Equationsif B- or betterMA 35301 - Linear Algebra IIMA 34100 - Foundations Of AnalysisorMA 44000 - Honors Real Analysis IMA 45300 - Elements Of Algebra IorMA 45000 - Algebra HonorsMA 36200 - Topics In Vector CalculusorMA 44200 - Honors Real Analysis II3 MA Selective Courses. See courses listed in the Math Selective (9 credits) section underMathematics, BSin the 2020-2021 University Catalog.
MA 35100 - Elementary Linear AlgebraorMA 26500 - Linear Algebraif B- or better
MA 36600 - Ordinary Differential EquationsorMA 26600 - Ordinary Differential Equationsif B- or better
MA 35301 - Linear Algebra II
MA 34100 - Foundations Of AnalysisorMA 44000 - Honors Real Analysis I
MA 45300 - Elements Of Algebra IorMA 45000 - Algebra Honors
MA 36200 - Topics In Vector CalculusorMA 44200 - Honors Real Analysis II
3 MA Selective Courses. See courses listed in the Math Selective (9 credits) section underMathematics, BSin the 2020-2021 University Catalog.
