General Requirements:
Minimum Semesters:  1
Minimum Credits:  15
Minimum GPA:  3.4

Course Requirements:

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is extremely limited.
Students must be in good academic standing (not on academic probation).
Students must earn a 3.4 average GPA or higher in any engineering, science, and math courses completed prior to CODO.
