General Requirements:
Minimum Semesters:  1
Minimum Credits:  15
Minimum GPA:  3.4

Course Requirements:
3.4 or better with a minimum of 12 credit hours in the following:
MA 26100 - Multivariate Calculusor
MA 26200 - Linear Algebra And Differential Equationsor
MA 26500 - Linear Algebraand
MA 26600 - Ordinary Differential Equations

PHYS 24100 - Electricity And Opticsor
PHYS 27200 - Electric And Magnetic Interactions

CGT 16300 - Graphical Communication And Spatial Analysis

One ENGR 200-level discipline course (examples:ECE 20100,CE 29800,AAE 20300,AAE 25100,ME 20000,ME 27000, etc.)
2.0 GPA AND C- or better in the following:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
Oral Communication Foundational Outcome course (typicallyCOM 11400 - Fundamentals Of Speech Communication)
Written Communication Foundational Outcome course (typicallyENGL 10600 - First-Year Composition)
Science Selective (typicallyCHM 11600 - General ChemistryorCS 15900 - C Programming)

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

Transforming Ideas to Innovation I & II -
ENGR 13100 - Transforming Ideas To Innovation Iand
ENGR 13200 - Transforming Ideas To Innovation II

ENGR 14100 - Honors Creativity And Innovation In Engineering Design Iand
ENGR 14200 - Honors Creativity And Innovation In Engineering Design II

ENGR 16100 - Honors Introduction To Innovation And The Physical Science Of Engineering Design Iand
ENGR 16200 - Honors Introduction To Innovation And The Physical Science Of Engineering Design II

EPCS 11100 - First Year Participation In EPICS Iand
EPCS 12100 - First Year Participation In EPICS IIand
ENGR 13300 - Transforming Ideas To Innovation, EPICS

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is extremely limited.
Students must be in good academic standing (not on academic probation).
Students must earn a 3.4 average GPA or higher in any engineering, science, and math courses completed prior to CODO.
