General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:3.0

Course Requirements:
3.0 or better in the following:Six credits of biology and/or chemistry courses with labs
Six credits of biology and/or chemistry courses with labs

Other Requirements:
Students are accepted for FALL
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is limited.
Students must be in good academic standing (not on academic probation)
Students are required to complete a CODO application prior to submitting their request.
Application is provided at CODO meeting or available in JNSN 109.
Applications may be submitted by 5:00pm Eastern on Friday of finals week during the spring semester. Applications will be reviewed after spring semester grades are posted.
Students are strongly encouraged to attend a CODO meeting to learn about the application process and the courses needed to stay on track for four-year graduation in the nursing curriculum.
