General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:3.0

Course Requirements:
CHM 11500 - General Chemistry
CHM 12901 - General Chemistry With A Biological Focus
BIOL 11000 - Fundamentals Of Biology I
BIOL 12100 - Biology I: Diversity, Ecology, And Behavior
BIOL 30100 - Human Design: Anatomy And Physiology

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
