General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.0

Course Requirements:
C or better in the following:
PHYS 17200 - Modern Mechanics

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER.
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation).
2.0 GPA in any completed course (see below) that meets degree requirements:
