General Requirements:
Minimum Semesters:  2
Minimum Credits:  24
Minimum GPA:  2.5

Course Requirements:
n/a

Other Requirements:
Students are accepted for FALL and SUMMER.
Students are admitted on a SPACE AVAILABLE BASIS ONLY.  Space is limited.
Students must be in good academic standing (not on academic probation).
Completion ofLA 10110 - Survey Of Landscape Architectureis strongly encouraged.
Students who meet general requirements and have a cumulative GPA of 3.5 or higher are automatically accepted
Note: Landscape Architecture is a 4 year program with 1 year required cooperative internship for students to complete. Students are expected to speak with a departmental advisor prior to CODO.
