General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.4

Course Requirements:
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
Minimum of a C- in any completed MAI course includes:COM 11400orCOM 21700orSCLA 10200orEDPS 31500ECON 25100ENGL 10600orENGL 10800orSCLA 10100orHONR 19903MA 16100orMA 16500MGMT 20000
COM 11400orCOM 21700orSCLA 10200orEDPS 31500
ECON 25100
ENGL 10600orENGL 10800orSCLA 10100orHONR 19903
MA 16100orMA 16500
MGMT 20000
Minimum ACT score of 28OR minimum SAT score of 1250 (CR + MA) for students who took the SATbefore March 2016OR minimum SAT score of 1320 for students who took the SATMarch 2016 and later
OR minimum SAT score of 1250 (CR + MA) for students who took the SATbefore March 2016
OR minimum SAT score of 1320 for students who took the SATMarch 2016 and later
Unweighted high school GPA of 3.7 or higher
International students must also have a minimum total TOEFL score of 88 and a minimum speaking TOEFL score of 23
No more than 3 different MAI courses, or their equivalents, may be taken 2 times for a grade. Students who do not earn a minimum grade of C- on their second attempt of an MAI/EAI course will not be considered.
