General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:3.5

Course Requirements:
N/A

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
B or better in any completed Economics Admissions Index (EAI) course(s). EAI courses are as follows:COM 11400orCOM 21700orSCLA 10200orEDPS 31500ECON 25100ENGL 10600orENGL 10800orSCLA 10100orHONR 19903MA 16100orMA 16500ECON 25200
COM 11400orCOM 21700orSCLA 10200orEDPS 31500
ECON 25100
ENGL 10600orENGL 10800orSCLA 10100orHONR 19903
MA 16100orMA 16500
ECON 25200
C- or better in any completed Krannert School of Management course(s) (MGMT, ECON, OBHR) excluding EAI courses (ECON 25100 and ECON 25200).
Management Admission to upper division note:&nbsp; The EAI must consist of at least (2) Krannert graded courses (ECON 25100 & ECON 25200) or three (3) Purdue graded EAI courses.
Management Admission Course Re-take allowance of EAI courses depends on the number of courses taken at Purdue and/or Krannert, no more than 2 or 3 EAI course (or their equivalents) may be taken two times each for a grade.  See our retake policy located on theKrannert School of Management Advising Policies websiteto determine your eligibility.
