General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:3.5

Course Requirements:
N/A

Other Requirements:
Students are accepted for FALL, SPRING, and SUMMER
Major is open with no anticipated space restrictions.
Students must be in good academic standing (not on academic probation)
B or better in any completed Management Admission Index (MAI) course(s). MAI courses are as follows:COM 11400orCOM 21700orSCLA 10200orEDPS 31500ECON 25100ENGL 10600,ENGL 10800,SCLA 10100orHONR 19903MA 16010orMA 16100orMA 16500MGMT 20000
COM 11400orCOM 21700orSCLA 10200orEDPS 31500
ECON 25100
ENGL 10600,ENGL 10800,SCLA 10100orHONR 19903
MA 16010orMA 16100orMA 16500
MGMT 20000
C- or better in any completed Krannert School of Management course(s) (MGMT, ECON, OBHR) excluding MAI courses (ECON 25200 and MGMT 20000).
Management Admission to upper division note: The MAI must consist of at least (2) Krannert graded courses (MGMT 20000 & ECON 25100) or three (3) Purdue graded MAI courses.
Management Admission Course Re-take allowance of MAI courses depends on the number of courses taken at Purdue and/or Krannert, no more than 2 or 3 MAI courses (or their equivalents) may be taken two times each for a grade. See our retake policy located on theKrannert School of Management Advising Policies websiteto determine your eligibility.
