General Requirements:
Minimum Semesters:1
Minimum Credits:12
Minimum GPA:2.5

Course Requirements:
n/a

Other Requirements:
Students are accepted for FALL, and SPRING
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is available but rigorous.
Students must be in good academic standing (not on academic probation)
It is highly recommended that students attend an informational session presented by a flight faculty member.
Students who are accepted into Professional Flight will need to commit to flying during the summer only.
Special Notes:The fees for flight and simulator courses are in addition to the University tuition and fees. (i.e. add your tuition/fee costs then add the cost of the necessary course such as AT 14500 would add $11,094.00 to the total).  SeeProfessional Flight - Fees website. Also seeProfessional Flight - FAQ.
The fees for flight and simulator courses are in addition to the University tuition and fees. (i.e. add your tuition/fee costs then add the cost of the necessary course such as AT 14500 would add $11,094.00 to the total).  SeeProfessional Flight - Fees website. Also seeProfessional Flight - FAQ.
