General Requirements:
Minimum Semesters:0
Minimum Credits:0
Minimum GPA:2.0

Course Requirements:
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II
COM 11400 - Fundamentals Of Speech Communication
MA 15300 - College Algebra
Behavioral and Social Sciences Core course
Humanities Core course
Science, Technology, & Society Core course

ENGL 10600 - First-Year Compositionor
ENGL 10800 - Accelerated First-Year Composition

CHM 11100 - General ChemistryandCHM 11200 - General Chemistry
OR
CHM 11500 - General ChemistryandCHM 11600 - General Chemistry


Other Requirements:
Students are accepted for FALL
Students are admitted on a SPACE AVAILABLE BASIS ONLY after a holistic review. Space is available but rigorous.
Students must be in good academic standing (not on academic probation)
Preference given to students who have completed first-year Veterinary Nursing coursework by the end of the spring semester.
Students are strongly encouraged to meet with a Veterinary Nursing advisor.  Information about the application process is discussed at this time.
Students are invited to interview in the spring semester.
