General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:3.0

Course Requirements:
3.0 or better in the following:Six credits of biology and/or chemistry courses with labs
Six credits of biology and/or chemistry courses with labs
