General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credits:12
Minimum GPA:2.0

Course Requirements:
C or better in the following:
MA 37300 - Financial Mathematics
A two-course Calculus sequence. Course options include:

Calculus I
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus Ior
MA 16010 - Applied Calculus IandMA 16020 - Applied Calculus II
Calculus II
MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II
Calculus III
MA 26100 - Multivariate Calculusor
MA 27101 - Honors Multivariate Calculus

2.5 or better in the following (if taken):
ECON 25100 - Microeconomics
ECON 25200 - Macroeconomics
MA 35100 - Elementary Linear Algebra
MA 36600 - Ordinary Differential Equations
MA 37300 - Financial Mathematics
MA 41600 - Probability
MGMT 20000 - Introductory Accounting
MGMT 20100 - Management Accounting I
MGMT 31000 - Financial Management
STAT 41600 - Probability
STAT 41700 - Statistical Theory
STAT 42000 - Introduction To Time Series
STAT 47201 - Actuarial Models- Life Contingencies
STAT 47301 - Introduction To Arbitrage-Free Pricing Of Financial Derivatives
MA 49000 - Topics In Mathematics For Undergraduates- Section: Actuarial Science Capstone
MA 49000 - Topics In Mathematics For Undergraduates- Section: Advanced Short Term Actuarial Mathematics
STAT 49000 - Topics In Statistics For Undergraduates- Section: Statistics of Risk Modeling
STAT 47501 - Advanced Long Term Actuarial Mathematics
STAT 47902 - Short Term Fundamental Actuarial Models
