General Requirements:
Minimum Semesters: 1
Minimum West Lafayette Credit Hours: 12
Minimum GPA:2.0

Course Requirements:
2.0 GPA or better AND C or better in the following:MA 16100 - Plane Analytic Geometry And Calculus IorMA 16500 - Analytic Geometry And Calculus Ior higherOne EAPS course and one PHYS or CHEM course that meets degree requirements. See courses listed under program of interest in theDepartment of Earth, Atmospheric, and Planetary SciencesPrograms section of the 2022-2023 University Catalog or current students can use the “What if” function in MyPurduePlan.
MA 16100 - Plane Analytic Geometry And Calculus IorMA 16500 - Analytic Geometry And Calculus Ior higher
One EAPS course and one PHYS or CHEM course that meets degree requirements. See courses listed under program of interest in theDepartment of Earth, Atmospheric, and Planetary SciencesPrograms section of the 2022-2023 University Catalog or current students can use the “What if” function in MyPurduePlan.
