General Requirements:
Minimum Semesters:0
Minimum West Lafayette Credits:0
Minimum GPA:2.5

Course Requirements:
MA 15300 - College Algebraor
MA 15800 - Precalculus- Functions And Trigonometryor
MA 16010 - Applied Calculus Ior
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I
OR
ALEKS Math Assessment 60 or SATR Math 570 or SAT Math 550 or ACT 24
