General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:3.0

Course Requirements:
C or better in the following:Two required science or math (CHM, BIOL, PHYS, or MA) courses on the plan of study. See courses listed under program of interest in theSchool of Health SciencesPrograms section in the 2022-2023 University Catalog.
Two required science or math (CHM, BIOL, PHYS, or MA) courses on the plan of study. See courses listed under program of interest in theSchool of Health SciencesPrograms section in the 2022-2023 University Catalog.
