General Requirements:
Minimum Semesters: 1
Minimum West Lafayette Credit Hours: 12
Minimum GPA: 2.0

Course Requirements:
CHM 11500 - General Chemistryor
CHM 11600 - General Chemistryor
CHM 12500 - Introduction To Chemistry Ior
CHM 12901 - General Chemistry With A Biological Focusor
CHM 13600 - General Chemistry Honors

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16500 - Analytic Geometry And Calculus Ior
MA 16600 - Analytic Geometry And Calculus II
