General Requirements:
Minimum Semesters: 2
Minimum West Lafayette Credit Hours: 12
Minimum GPA:3.2

Course Requirements:
3.2 GPA or better with a minimum of 12 credit hours AND C- or better in the following:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics

BIOL 11000 - Fundamentals Of Biology Ior
CHM 11600 - General Chemistryor
CS 15900 - C Programming

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

C- or better in the following:
Oral Communication Foundational Outcome course (typicallyCOM 11400 - Fundamentals Of Speech Communication)
Written Communication Foundational Outcome course (typicallyENGL 10600 - First-Year Composition)
