General Requirements:
Minimum Semesters:  1
Minimum West Lafayette Credits:  12
Minimum GPA:  2.5

Course Requirements:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
Oral Communication Foundational Outcome course
Written Communication Foundational Outcome course
Transforming Ideas to Innovation I & II (typicallyENGR 13100andENGR 13200), if taken.

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

One FYE Science Selective:
CHM 11600 - General Chemistry(strongly recommended)
CS 15900 - C Programming
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II

