General Requirements:
Minimum Semesters:0
Minimum West Lafayette Credit Hours:0
Minimum GPA:0

Course Requirements:
Students must have fewer than 83 credit hours of the following:All graded course credit (see total GPA Credit hours in MyPurdue unofficial transcript)Departmental Credit by examTransfer creditPass credit from courses in Pass/No Pass grade modeCurrent semester coursesCourses with grade of “I” (Incomplete)Any pre-college credit (AP, IB, CLEP, etc.)Does NOT include:Course Withdrawals (W, WF)Previous attempts of a repeated course (excluded courses on transcript)
All graded course credit (see total GPA Credit hours in MyPurdue unofficial transcript)
Departmental Credit by exam
Transfer credit
Pass credit from courses in Pass/No Pass grade mode
Current semester courses
Courses with grade of “I” (Incomplete)
Any pre-college credit (AP, IB, CLEP, etc.)
Does NOT include:Course Withdrawals (W, WF)Previous attempts of a repeated course (excluded courses on transcript)
Course Withdrawals (W, WF)
Previous attempts of a repeated course (excluded courses on transcript)
