General Requirements:
Minimum Semesters:  2
Minimum West Lafayette Credit Hours:  30
Minimum GPA:  2.0

Course Requirements:
CHM 11500 - General Chemistry(or equivalent)
PHYS 17200 - Modern Mechanics(or equivalent)
Oral Communication Foundational Outcome course (typicallyCOM 11400 - Fundamentals Of Speech Communication)
Written Communication Foundational Outcome course (typicallyENGL 10600 - First-Year Composition)

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

One FYE Selective:
BIOL 11000 - Fundamentals Of Biology I
CHM 11600 - General Chemistry
CS 15900 - C Programmingor
CS 18000 - Problem Solving And Object-Oriented Programming
Note: CS 15900 or CS 18000 meet Industrial Engineering degree requirements.
