General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:2.5

Course Requirements:
ECON 25100 - Microeconomics(MAI Course)

MGMT 20000 - Introductory Accounting(MAI Course)  or
MGMT 21200 - Business Accounting(MAI Course)

COM 11400 - Fundamentals Of Speech Communication(MAI Course) or
COM 21700 - Science Writing And Presentation(MAI Course) or
EDPS 31500 - Collaborative Leadership: Interpersonal Skills(MAI Course) or
SCLA 10200 - Transformative Texts, Critical Thinking And Communication II: Modern World(MAI Course)

ENGL 10600 - First-Year Composition(MAI Course) or
ENGL 10800 - Accelerated First-Year Composition(MAI Course) or
SCLA 10100 - Transformative Texts, Critical Thinking And Communication I: Antiquity To Modernity(MAI Course) or
HONR 19903 - Interdisciplinary Approaches In Writing(MAI Course)

MA 16010 - Applied Calculus I(MAI Course) or
MA 16100 - Plane Analytic Geometry And Calculus I(MAI Course) or
MA 16500 - Analytic Geometry And Calculus I(MAI Course)
