General Requirements:
Minimum Semesters:  2
Minimum West Lafayette Credit Hours: 30
Minimum GPA:  2.5

Course Requirements:
CHM 11500 - General Chemistry
PHYS 17200 - Modern Mechanics
Oral Communication Foundational Outcome Course (typicallyCOM 11400 - Fundamentals Of Speech Communication)
Written Communication Foundational Outcome Course (typicallyENGL 10600 - First-Year Composition)

MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I

MA 16200 - Plane Analytic Geometry And Calculus IIor
MA 16600 - Analytic Geometry And Calculus II

One FYE Selective:
CHM 11600 - General Chemistry(recommended)
CS 15900 - C Programming
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II
BIOL 13100 - Biology II: Development, Structure, And Function Of Organisms
BIOL 12100 - Biology I: Diversity, Ecology, And BehaviorandBIOL 13500 - First Year Biology Laboratory
