General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:2.0

Course Requirements:
2.7 or better in two graded courses in the approved Calculus sequence I, II and III (transfer credit may be used):
