General Requirements:
Minimum Semesters:1
Minimum West Lafaytte Credit Hours:12
Minimum GPA:2.0

Course Requirements:
2.7 or better in two courses in the approved Calculus sequence I, II and III (transfer credit may be used):
