General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:3.0

Course Requirements:
CHM 11100 - General Chemistry
CHM 11500 - General Chemistry
CHM 12901 - General Chemistry With A Biological Focus
BIOL 11000 - Fundamentals Of Biology I
BIOL 12100 - Biology I: Diversity, Ecology, And Behavior
BIOL 20300 - Human Anatomy And Physiology
BIOL 30100 - Human Design: Anatomy And Physiology
