General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:2.5

Course Requirements:
BIOL 11000 - Fundamentals Of Biology Ior
BIOL 12100 - Biology I: Diversity, Ecology, And Behavioror
BIOL 13100 - Biology II: Development, Structure, And Function Of Organisms
Note:  BIOL 12100 and 13100 meet degree requirements

MA 16010 - Applied Calculus Ior
MA 16100 - Plane Analytic Geometry And Calculus Ior
MA 16500 - Analytic Geometry And Calculus I
