General Requirements:
Minimum Semesters:1
Minimum West Lafayette Credit Hours:12
Minimum GPA:2.5

Course Requirements:
C or better in the following:One required Calculus course from the Degree Requirements. See courses listed under program of interest in theCollege of Science Administrationprograms section of the 2022-2023 University Catalog.One Science course in area of concentration to meet degree requirements. Concentration Degree Requirements are listed under program of interest in theCollege of Science Administrationprograms section of the 2022-2023 University Catalog.
One required Calculus course from the Degree Requirements. See courses listed under program of interest in theCollege of Science Administrationprograms section of the 2022-2023 University Catalog.
One Science course in area of concentration to meet degree requirements. Concentration Degree Requirements are listed under program of interest in theCollege of Science Administrationprograms section of the 2022-2023 University Catalog.
