General Requirements:
Minimum Semesters:0
Minimum West Lafayette Credit Hours:0
Minimum GPA:2.5

Course Requirements:
BIOL 11000 - Fundamentals Of Biology I
BIOL 11100 - Fundamentals Of Biology II
COM 11400 - Fundamentals Of Speech Communication
MA 15300 - College Algebra
Behavioral and Social Sciences Core course
Humanities Core course
Science, Technology, & Society Core course

ENGL 10600 - First-Year Compositionor
ENGL 10800 - Accelerated First-Year Composition

CHM 11100 - General ChemistryandCHM 11200 - General Chemistry
OR
CHM 11500 - General ChemistryandCHM 11600 - General Chemistry

